# Empêcher l'accès à tout fichier de ce dossier
<Files "*">
    Require all denied
</Files>
# Interdire l'accès direct aux fichiers dans ce répertoire
<FilesMatch "\.(php|ini|log|conf)$">
    Deny from all
</FilesMatch>

# Désactiver l'indexation des fichiers
Options -Indexes
